*~
frontend/debian/.debhelper
frontend/debian/l10n-cloud-frontend
frontend/debian/*log
frontend/debian/debhelper-build-stamp
frontend/debian/files

data/debian/.debhelper
data/debian/l10n-cloud-data
data/debian/*log
data/debian/debhelper-build-stamp
data/debian/files

apps/debian/.debhelper
apps/debian/l10n-cloud-apps
apps/debian/*log
apps/debian/debhelper-build-stamp
apps/debian/files

./l10n-cloud*
*substvars
root-keys

github.secret
certs
servers.config
